body {
    background: url("../images/cancun1.jpg");
    background-size: 100%;
    background-repeat: repeat;
    
}

.text {
    color: black;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

#mysteryword {
    font-size: 24px;
}

header {
    border: 3px solid black;
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.container {
    width: 50%;
    float: right;
    margin: auto;
    border: 3px;
    border-color: white; 
}